/* Page header styles */
.page__header {
  background-image: url(../graphics/layout/header-background.png);
  background-size: cover;
  background-position-y: center;

  .header__content {
    text-align: center;
    padding: 32px;
  }

  .site__title {
    margin:  0;

    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.page__headline {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;

  .site__actions {
    margin-left: auto;
  }

  .user span {
    line-height: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
  }

  .user__picture {
    width: 2rem;
    height: 2rem;
    border-radius: 32rem;
    margin-right: 0.5rem;
  }
}

/* Page actions */
.btn--user-login {
  @extend .button, .button--base;

  &::before {
    @extend %collecticons-login;
  }
}

.btn--user-logout {
  @extend .button, .button--base-unbounded;

  &::before {
    @extend %collecticons-logout;
  }
}

.inner {
  @extend .row, .row--centered;

  &-edit {
    max-width: 800px;
    margin: 50px auto 0px auto;
    padding-bottom: 50px;
  }
}

.page--location-view,
.page--location-edit {
  background-color: #fff;

  .header__content {
    text-align: left;
    padding-left: 0px;
  }

  .inner {
    padding-top: 50px;

    .row {
      padding: 0px;
    }
  }
}

.column, .filter-column {
  width: 100%;

  @include media(medium-up) {
    width: 300px;
  }
}

.callout-button {
  padding: 1rem;
  text-align: center;
  background: $primary-color;

  a {
    color: #fff;
  }
}

.message-button {
  margin: 0 20px;
}

.global-message {
  text-align: center;
  margin-top: 2rem;
}

.page--callback .loader {
  max-width: 10rem;
  margin: 3rem auto 0 auto;
}

.wind-animated .wind {
  fill: none;
  stroke: $base-color;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards infinite;
}

@keyframes dash {
  to { stroke-dashoffset: 0;}
  0% { opacity: 0;}
  15% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0;}
}
